<?xml version="1.0"?>

<!-- %Tag(FULLTEXT)% -->
<launch>
  <!-- %Tag(PSEN_SCAN_NODE)% -->
  <node name="laser_scanner" type="psen_scan_node" pkg="psen_scan" output="screen" required="true">
    <rosparam command="load" file="$(find psen_scan_tutorials)/config/config.yaml" />
  </node>
  <!-- %EndTag(PSEN_SCAN_NODE)% -->
  <!-- %Tag(RVIZ)% -->
  <node name="rviz" type="rviz" pkg="rviz" args="-d $(find psen_scan)/config/config.rviz" />
  <!-- %EndTag(RVIZ)% -->
</launch>
<!-- %EndTag(FULLTEXT)% -->
