<!--
Copyright (c) 2019 Pilz GmbH & Co. KG

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<!-- %Tag(FULLTEXT)% -->
<launch>
  <node pkg="tf" type="static_transform_publisher" name="scanner_1_bc" args="0 0.15 0 0 0 0 map scanner 100" />
  <node pkg="tf" type="static_transform_publisher" name="scanner_2_bc" args="0 -0.15 0 0 0 0 map scanner2 100" />

  <node name="laser_scanner" type="psen_scan_node" pkg="psen_scan" output="screen" required="true">
    <rosparam command="load" file="$(find psen_scan_tutorials)/config/config.yaml" />
  </node>
  <node name="laser_scanner2" type="psen_scan_node" pkg="psen_scan" output="screen" required="true">
    <rosparam command="load" file="$(find psen_scan_tutorials)/config/config2.yaml" />
  </node>
  <node name="rviz" type="rviz" pkg="rviz" args="-d $(find psen_scan)/config/config.rviz" />
</launch>
<!-- %EndTag(FULLTEXT)% -->
